<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Some Website</title>
  </head>
  <body>
    <h1>Pronto estaremos de regreso</h1>
      <p>El sitio esta siendo actalizado</p>
  </body>
</html>
